@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "iA Writer Quattro";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: normal;
    color: #303030;
  }

  h1 {
    @apply text-4xl;
    @apply md:text-6xl;
    font-weight: 600;
    font-family: "iA Writer Quattro";
  }

  h2 {
    @apply text-lg;
    @apply uppercase;
  }
}

.line {
  @apply w-full;
  @apply h-px;
  background: black;
}

.features {
  @apply mt-8;

  @apply md:grid;
  @apply md:grid-cols-3;
  @apply md:gap-8;
  @apply md:mt-16;

  > div {
    @apply mt-8;
    @apply md:mt-0;

    h3 {
      @apply text-2xl;
      @apply font-semibold;
      @apply mt-4;
    }

    p {
      @apply mt-2;
      @apply text-xl;

      @apply md:mt-3.5;
    }
  }
}

footer {
  @apply text-white;

  .links {
    @apply md:grid;
    @apply md:grid-cols-3;
    @apply md:gap-8;
    @apply md:mt-16;
    letter-spacing: 1px;

    h5 {
      @apply mt-8;
      @apply uppercase;
      @apply mb-4;

      @apply md:mt-0;

      color: #787878;
    }

    a {
      @apply text-lg;
      @apply mt-2;
      @apply inline-block;
      @apply w-full;
    }
  }
}

button {
  @apply p-4;
  @apply text-lg;
  @apply uppercase;
  letter-spacing: 1px;
}

button.secondary {
  border: solid 1px #000;
  color: black;
}

button.primary {
  background: black;
  color: white;
}

.cta {
  @apply w-full;
  background: #202020;

  button {
    color: white;
    border: 1px solid white;

    @apply w-full;
    @apply md:w-auto;
  }
}
